@model NYC_Taxi_System.Models.DriverVehicle

@{
    ViewBag.Title = "Delete Vehicle";
}

@if ((ViewData.ContainsKey("UserType") && ViewData["UserType"].Equals("Passenger")) ||
    (ViewData.ContainsKey("UserType") && ViewData["UserType"].Equals("Driver") && ViewData.ContainsKey("Username") && ViewData["Username"].ToString() != Model.Driver))
{
    <div class="alert alert-warning text-align-center" style="margin-top:20px;">
        Sorry, you do not have the permission to access this page. @ViewBag.Message<strong><a href="/Home/Index">Go Back to Home Page</a></strong>
    </div>
}
else if (ViewBag.Message != null)
{
    <br />
    <div class="alert alert-danger">
        <strong>Error!</strong> @ViewBag.Message
    </div>
}
else
{
    <h2>Delete Vehicle</h2>
    <h4>For: @Model.User.FirstName @Model.User.LastName | @Model.User.Username</h4>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <hr />
        <dl class="dl-vehicle-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VehicleType.Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Seats)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Seats)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Brand)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Brand)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VRN)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VRN)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InsuranceNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InsuranceNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LicenseNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LicenseNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NIC)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NIC)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-times-circle"></i> Delete</button> |
                @Html.ActionLink("Back", "Details", new { id = Model.Driver })
            </div>
        }
    </div>
}